{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["tv"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
