:root {
  --custom-orange: #e1780e;
  --custom-tiffany: #a0d8e1;
  --custom-blue: #15a6e5;
  --custom-lilac: #dfc6ff;
  --custom-cofe: #e2d7cf;
  --custom-peach: #ffc9b1;
  --custom-yellow: #ffe55a;
  --custom-light: #f9fef6;
  --custom-light-gray: #d9d9d9;
  --custom-gray: #e5ded9;
  --dark: #331207;
}
